@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

html, body, #root {
    font-family: "Tilt Neon", sans-serif;
    display: swap;
}

a:link {
    text-decoration: none;
}

.navbar-margin{
    margin-top: 6rem;
}

.header-color {
    color: #212D40 !important;
    text-shadow: 2px 2px 0px #5f7396;
}

.paragraph-color {
    color: #5f7396 !important;
}

.button-color {
    background-color: #212D40 !important;
    color: #8ca1c5 !important;
    border: none !important;
}

.button-color:hover {
    background-color:#5f7396 !important;
    color:#070f1d !important;
}

.button-color-2 {
    background-color: #8fa8d3 !important;
    color: #141d2c !important;
    border: none !important;
}

.button-color-2:hover {
    background-color:#12161d !important;
    color:#5f7396 !important;
}