
.hero-heading-container {
    position: absolute; 
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.hero {
    margin-top: 4rem;
}

.hero-image {
    box-shadow: 3px 3px 5px #f297c0;
}

.shop-btn {
    min-width: 95px;
}

.mySwiper a:hover {
    cursor: grab;
}

.custom--container {
 width: 90vw;
 margin-top: 15vh;
 margin-bottom: 10vh;
}

.carousel--container {
    margin-top: 10vh;
}

.hoverzoom {
    transition: transform 0.3s ease;
    padding: 2rem;
    min-width: 200px;
}
  
.hoverzoom:hover {
    transform: scale(1.2);
}

  .banner {
    width: 101vw;
    margin-top: 20vh;
    margin-bottom: 13vh;
    min-width: 600px;
  }


  @media (max-width: 900px) {
    .hero-heading-container {
        top: 25%;
    }
}

@media (max-width: 500px) {
    .hero-heading-container {
        top:20%;
    }
}

