
.hero-heading-container {
    position: absolute; 
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.hero {
    margin-top: 4rem;
    position: relative;
    width: 100%;
    padding-top: 45%;
    z-index: -1;
}

.hero-image {
    box-shadow: 3px 3px 5px #f297c0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.shop-btn {
    min-width: 95px;
}

.mySwiper a:hover {
    cursor: grab;
}

.custom--container {
 width: 90vw;
 margin-top: 15vh;
 margin-bottom: 10vh;
}

.carousel--container {
    min-height: calc(800px + 4rem);
    margin-top: 10vh;
}

.hoverzoom {
    transition: transform 0.3s ease;
    padding: 2rem;
    min-width: 200px;
}
  
.hoverzoom:hover {
    transform: scale(1.2);
}
.banner-container {
    position: relative;
    width: 100%;
}

.cta-container{
    margin-top: 50vh;
    z-index: 999;
}

.banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.banner-text{
    margin-top:30rem;
}
@media (max-width: 1400px) {
    .carousel--container {
        min-height: calc(500px + 4rem);
    }
}
@media (max-width: 900px) {
    .hero-heading-container {
        top: 35%;
    }
    .cta-container{
        margin-top: 25vh;
    }
}

@media (max-width: 768px) { /* Adjust this value based on your mobile breakpoint */
    .hero-image {
      min-width: auto; /* Fixed width for mobile */
      height: 850px; /* Fixed height for mobile */
    }
    .carousel--container {
        margin-top:60vh;
    }
  }

@media (max-width: 500px) {
    .hero-heading-container {
        top:45%
    }
    .carousel--container {
        margin-top:50vh;
    }
}

